* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */




.container {
    max-width: 1170px;
    margin: 0 auto;

    padding: 8px;
    margin-bottom: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.mb-1 {
    margin-bottom: 8px;
}


.mb-2 {
    margin-bottom: 16px;
}

.test * {
    border: dashed 1px gray;
    background-color: rgba(0, 0, 255, 0.2);
    /* test */
}


/* regola generica per tutte le colonne */
	
[class*="col-"] {
    flex: 0 0 auto;
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto; */
}
  

/* modificatori flex */
.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}
.justify-start {
    justify-content:flex-start;
}
.justify-around
{
    justify-content: space-around;
}
.justify-between
{
    justify-content:space-between;
}



.align-center {
    align-items: center;
}







/* realizzazione selettori colonne */

.col-1 {
    /* width: calc(100% / 12); */
    flex-basis: calc((100% / 12));
    max-width: calc((100% / 12));
}

.col-2 {
    /* width: calc(100% / 12 * 2); */
    flex-basis: calc((100% / 12) *  2);
    max-width: calc((100% / 12) *  2);
}

.col-3 {
    /* width: calc(100% / 12 * 3); */
    flex-basis: calc((100% / 12) *  3);
    max-width: calc((100% / 12) *  3);
}

.col-4 {
    /* width: calc(100% / 12 * 4); */
    flex-basis: calc((100% / 12) *  4);
    max-width: calc((100% / 12) *  4);
}

.col-5 {
    /* width: calc(100% / 12 * 5); */
    flex-basis: calc((100% / 12) *  5);
    max-width: calc((100% / 12) *  5);
}

.col-6 {
    /* width: calc(100% / 12 * 6); */
    flex-basis: calc((100% / 12) *  6);
    max-width: calc((100% / 12) *  6);
}

.col-7 {
    /* width: calc(100% / 12 * 7); */
    flex-basis: calc((100% / 12) *  7);
    max-width: calc((100% / 12) *  7);
}

.col-8 {
    /* width: calc(100% / 12 * 8); */
    flex-basis: calc((100% / 12) *  8);
    max-width: calc((100% / 12) *  8);
}

.col-9 {
    /* width: calc(100% / 12 * 9); */
    flex-basis: calc((100% / 12) *  9);
    max-width: calc((100% / 12) *  9);
}

.col-10 {
    /* width: calc(100% / 12 * 10); */
    flex-basis: calc((100% / 12) *  10);
    max-width: calc((100% / 12) *  10);
}

.col-11 {
    /* width: calc(100% / 12 * 11); */
    flex-basis: calc((100% / 12) *  11);
    max-width: calc((100% / 12) *  11);
}

.col-12 {
    /* width: 100%; */
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}


/* realizzazione offset colonne */

.offset-1 {
    margin-left: calc(100% / 12 * 1);
}

.offset-2 {
    margin-left: calc(100% / 12 * 2);
}

.offset-3 {
    margin-left: calc(100% / 12 * 3);
}

.offset-4 {
    margin-left: calc(100% / 12 * 4);
}

.offset-5 {
    margin-left: calc(100% / 12 * 5);
}

.offset-6 {
    margin-left: calc(100% / 12 * 6);
}

.offset-7 {
    margin-left: calc(100% / 12 * 7);
}

.offset-8 {
    margin-left: calc(100% / 12 * 8);
}

.offset-9 {
    margin-left: calc(100% / 12 * 9);
}

.offset-10 {
    margin-left: calc(100% / 12 * 10);
}

.offset-11 {
    margin-left: calc(100% / 12 * 11);
}

.offset-12 {
    margin-left: calc(100% / 12 * 12);
}





/* query mobile */
@media screen and (min-width: 1px) {
    .col-xs-1 {
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }

    .col-xs-2 {
        /* width: calc(100% / 12 * 2); */
        flex-basis: calc((100% / 12) *  2);
        max-width: calc((100% / 12) *  2);
    }
    
    .col-xs-3 {
        /* width: calc(100% / 12 * 3); */
        flex-basis: calc((100% / 12) *  3);
        max-width: calc((100% / 12) *  3);
    }
    
    .col-xs-4 {
        /* width: calc(100% / 12 * 4); */
        flex-basis: calc((100% / 12) *  4);
        max-width: calc((100% / 12) *  4);
    }
    
    .col-xs-5 {
        /* width: calc(100% / 12 * 5); */
        flex-basis: calc((100% / 12) *  5);
        max-width: calc((100% / 12) *  5);
    }
    
    .col-xs-6 {
        /* width: calc(100% / 12 * 6); */
        flex-basis: calc((100% / 12) *  6);
        max-width: calc((100% / 12) *  6);
    }
    
    .col-xs-7 {
        /* width: calc(100% / 12 * 7); */
        flex-basis: calc((100% / 12) *  7);
        max-width: calc((100% / 12) *  7);
    }
    
    .col-xs-8 {
        /* width: calc(100% / 12 * 8); */
        flex-basis: calc((100% / 12) *  8);
        max-width: calc((100% / 12) *  8);
    }
    
    .col-xs-9 {
        /* width: calc(100% / 12 * 9); */
        flex-basis: calc((100% / 12) *  9);
        max-width: calc((100% / 12) *  9);
    }
    
    .col-xs-10 {
        /* width: calc(100% / 12 * 10); */
        flex-basis: calc((100% / 12) *  10);
        max-width: calc((100% / 12) *  10);
    }
    
    .col-xs-11 {
        /* width: calc(100% / 12 * 11); */
        flex-basis: calc((100% / 12) *  11);
        max-width: calc((100% / 12) *  11);
    }
    
    .col-xs-12 {
        /* width: 100%; */
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
}

/* query mobile grande / tablet verticale */
@media screen and (min-width: 576px) {
    .col-sm-1 {
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }

    .col-sm-2 {
        /* width: calc(100% / 12 * 2); */
        flex-basis: calc((100% / 12) *  2);
        max-width: calc((100% / 12) *  2);
    }
    
    .col-sm-3 {
        /* width: calc(100% / 12 * 3); */
        flex-basis: calc((100% / 12) *  3);
        max-width: calc((100% / 12) *  3);
    }
    
    .col-sm-4 {
        /* width: calc(100% / 12 * 4); */
        flex-basis: calc((100% / 12) *  4);
        max-width: calc((100% / 12) *  4);
    }
    
    .col-sm-5 {
        /* width: calc(100% / 12 * 5); */
        flex-basis: calc((100% / 12) *  5);
        max-width: calc((100% / 12) *  5);
    }
    
    .col-sm-6 {
        /* width: calc(100% / 12 * 6); */
        flex-basis: calc((100% / 12) *  6);
        max-width: calc((100% / 12) *  6);
    }
    
    .col-sm-7 {
        /* width: calc(100% / 12 * 7); */
        flex-basis: calc((100% / 12) *  7);
        max-width: calc((100% / 12) *  7);
    }
    
    .col-sm-8 {
        /* width: calc(100% / 12 * 8); */
        flex-basis: calc((100% / 12) *  8);
        max-width: calc((100% / 12) *  8);
    }
    
    .col-sm-9 {
        /* width: calc(100% / 12 * 9); */
        flex-basis: calc((100% / 12) *  9);
        max-width: calc((100% / 12) *  9);
    }
    
    .col-sm-10 {
        /* width: calc(100% / 12 * 10); */
        flex-basis: calc((100% / 12) *  10);
        max-width: calc((100% / 12) *  10);
    }
    
    .col-sm-11 {
        /* width: calc(100% / 12 * 11); */
        flex-basis: calc((100% / 12) *  11);
        max-width: calc((100% / 12) *  11);
    }
    
    .col-sm-12 {
        /* width: 100%; */
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
}